.scene {
  perspective: 1000px;
  width: 500px;
  height: 300px;
  margin: 50px auto;
}

.card-body {
  width: inherit;
  height: inherit;
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.scene:hover .card-body {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  padding: 30px;
  border-radius: 20px;
}

.card-front {
  background-color: dodgerblue;
}

.card-back {
  background-color: green;
  transform: rotateY(180deg);
}