.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: space-evenly;
  /* flex-direction: column;
  flex-wrap: wrap; */
  /* flex-flow: column wrap; */

  /* 
    відповідь 1
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end; 
  */
  /* 
    відповідь 2
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
  */

  /* 
    відповідь 3
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  */

  /*
    відповідь 4
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
  */

  /*
    відповідь 5
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: center;
  align-items: stretch;
  justify-content: space-between;
  */


  background-color: dodgerblue;
  border: 5px solid;
  /* width: 80vw; */
  min-height: 100vh;
}

.item {
  text-align: center;
  width: 300px;
  /* padding: 10px; */
  background-color: orange;
  font-size: 50px;
  border: 5px solid yellow;
  /* margin: 50px; */
}

.test {
  /* margin-top: auto;
  margin-bottom: auto; */
  height: 200px;
}

.last {
  /* margin-left: auto; */
}

.big-item {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: aqua;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  border-color: green;
}

.ordered {
  /* 2 */
  order: 1;
}

.ordered2 {
  /* 4 */
  order: 1;
}

.self-aligned {
  /* margin-bottom: auto; */
  /* align-self: flex-end; */
}

.flex-basis {
  /* flex-basis: 100px; */
  /* width: 500px; */
  /* flex-basis: 150px; */
  /* width: 100px; */
  /* max-width: 200px; */
  /* max-width: 50px; */
}

.big-item > .item.flex-grow {
  flex-grow: 2;
}

.big-item > .item {
  /* flex-grow: 1; */
}

.item{
  /* flex-shrink: 0.5;
  flex-grow: 1;
  flex-basis: 150px; */
  /* flex: 1 0.5 150px; */
  /* flex: 150px; */
  flex: 1;
}