* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  width: 600px;
  height: 200px;
  /*
    керування переповненням елементу

    visible | hidden | scroll | auto
  */
  overflow: auto;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  margin:  0 auto;
  border: 10px solid red;
  background-color: dodgerblue;
  padding: 20px;
}

.inner {
  width: 1200px;
  border: 10px dotted green;
  background-color: orange;
  padding: 20px;
}

.btn {
  min-width: 120px;
  width: 100%;
  max-width: 300px;
  /* max-height: 64px; */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  padding: 15px 20px;
  background-color: limegreen;
  border: 3px solid black;
  border-radius: 15px;
}

.div {
  display: inline-block;
  /* min-width: 200px;
  min-height: 200px; */
  border: 5px solid red;
  text-align: center;
  background-color: dodgerblue;
  font-size: 50px;
}

.hidden-3 {
  /*
    приховує елемент, вириваючи його з нормального потоку
    елемент фактично не існує для:
      - користувача
      - інших елементів
      - скрінрідерів та пошукових роботи
  */
  display: none;
}

.hidden-2 {
  /*
    прозорість, приховує елемент тількі візуально (і то при значенні 0)
    - місце резервується
    - скрінрідери та пошукові роботи його бачать
  */
  opacity: 0;
}

.hidden-1 {
  /*
    visible | hidden 

    - місце резервується
    - взаємодія неможлива
    - скрінрідери та роботи не бачать
  */
  visibility: hidden;
}

.hidden-4 {
  /* margin-left: -500000px; */
  /* position */
}

.new-units {
  /*
    vh, vw

    1vmin - 1 відсоток від меньшої сторони в'юпорта
    1vmax - 1 відсоток від більшої сторони в'юпорта
  */
  width: 100vmin;
  height: 100vmin;
}

ul {
  /*
    list-style: 
      - none;
      - скорочення від:
        - list-style-type - зовнішній вигляд маркерів списку
          list-style-type: disc;
          list-style-type: circle;
          list-style-type: square;
          list-style-type: decimal;
          list-style-type: georgian;
          list-style-type: lower-roman;
          list-style-type: upper-roman;
          list-style-type: trad-chinese-informal;
          list-style-type: kannada;
        - list-style-position
          - outside - за замовчанням, маркери розміщуються назовні лішек
          - inside - маркери стають частиною контенту лішек
        - list-style-image
  */
  /* list-style: none; */
  /* list-style-position: inside; */
  list-style-image: url(../img/access-point.svg);
  list-style-type: lower-roman;
  font-size: 40px;
}