.wrapper {
  width: 1200px;
  height: 200vh;
  background-color: dodgerblue;
  margin: 0 auto;
  /* position: relative; */
  overflow: scroll;
}

.inner {
  width: 900px;
  height: inherit;
  background-color: green;
  margin: 0 auto;
}

.position {
  /* width: 200px; */
  /* height: 200px; */
  padding: 50px;
  border: 5px solid black;
  background-color: yellow;
  text-align: center;
  font-size: 32px;
}

.relative {
  position: relative;
  /* top: 50px; */
  /* left: 300px; */
  /* z-index: -1010000000000; */
}

.fixed {
  position: fixed;
  /* top: 99vh; */
  top: 0;
  background-color: aqua;
  z-index: 100000000000;
}

.absolute {
  position: absolute;
  background-color: orange;
  /* top: 0;
  left: 0; 
  right: 0;
  bottom: 0; */
  /* top: 50px;
  right: 70px; */
}

/* .absolute:hover {
  opacity: 0;
} */

.sticky {
  background-color: lime;
  position: sticky;
  top: 20px;
  /* left: 20px; */
}

.logo-container {
  margin-top: 200px;
}

.head,
.ear {
  background-color: black;
  border-radius: 50%;
}

.head {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.ear {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -90px;
}

.left-ear {
  left: -120px;
}

.right-ear {
  right: -120px;
}