* {
  box-sizing: border-box;
}
:root {
  --bg-color: blue;
  --font-size: 24px;
  --night-theme-color: white;
  --light-theme-color: black;
  --horizontal-padding: 20px;
  --vertical-padding: 15px;
  --paddings: 10px 20px 30px 40px;
}

[title] {
  color: green;
  padding: var(--paddings);
}

[title='title'] {
  font-size: 40px;
}

[title~='secret'] {
  font-weight: bold;
}

/* h2,
p,
.div {
  font-style: italic;
} */
/*
  селектор прямих нащадків
*/
#div > h2 {
  font-size: 60px;
}

#div > div > h2 {
  color: red;
}

#test {
  color: green;
}
/*
  селектор нащадків
*/
#div p {
  font-weight: bold;
}

/*
  селектор всіх сусідніх елементів
*/
div ~ p {
  color: green;
}
/*
  селектор наступного сусіднього елементу
*/
div + p {
  text-decoration: underline solid red;
}
/*
  псевдокласи
*/

.link {
  display: inline-block;
  font-family: sans-serif;
  width: 150px;
  text-align: center;
  /* min-height: 50px; */
  border: 2px solid black;
  border-radius: 10px;
  padding: var(--vertical-padding) var(--horizontal-padding);
  background-color: var(--bg-color);
  color: white;
  font-size: 24px;
  text-decoration: none;
  line-height: 1.2;
}

p {
  color: var(--bg-color);
}

.link:hover,
.link:focus {
  background-color: dodgerblue;
  color: black;
  outline: none;
}

.link:hover:not(a),
.link:focus:not(a)  {
  background-color: limegreen;
}

/* .link:focus {
  border-color: red;
} */

.par:focus {
  color: green;
}

.div:focus-within {
  color: green;
}

body > :not(a,button) {
  color: red;
}