:root {
  --bg-color: blue;
  --font-size: 24px;
  --night-theme-color: white;
  --light-theme-color: black;
  --horizontal-padding: 20px;
  --vertical-padding: 15px;
}


[title] {
  color: green;
}

[title="title"] {
  font-size: 40px;
}

[title~="secret"] {
  font-weight: bold;
}

/* h2,
p,
.div {
  font-style: italic;
} */
/*
  селектор прямих нащадків
*/
#div > h2 {
  font-size: 60px;
}

#div > div > h2 {
  color: red;
}

#test {
  color: green;
}
/*
  селектор нащадків
*/
#div p {
  font-weight: bold;
}

/*
  селектор всіх сусідніх елементів
*/
div ~ p {
  color: green;
}
/*
  селектор наступного сусіднього елементу
*/
div + p {
  text-decoration: underline solid red;
}
/*
  псевдокласи
*/

.btn {

  border: 2px solid black;
  border-radius: 10px;
  padding: var(--vertical-padding) var(--horizontal-padding);
  background-color: var(--bg-color);
  color: white;
  font-size: 24px;
  margin-left: 100px;
}

p {
  color: var(--bg-color);
}

.btn:hover {
  background-color: dodgerblue;
  color: black;
}

