/*
        специфічність / вага - число

        для селектора тегу  = 1
        для селектора класу = 10
        для селектора id = 100
        для атрибуту style = 1000
*/

/*p {*/
  /* color: green; */
  /*
          Red
          Green
          Blue

          0 - 255
        */
  /* color: rgb(50, 50,50); */
  /*
          Alpha-канал (прозоро) 0 - 1 (видно)
        */
  /* color: rgba(50, 50, 50, 0.3); */
  /*
          Hex-code - hexadecimal (шістнадцядкові числа)
          R  G  B
          a0 bc 3f
        
          00 - FF
        */
  /* color: #03ad06; */
  /* розмір шрифту - зазвичай в пікселях*/
  /* font-size: 24px; */
/*}*/

/* 
.class-name {
  color: blue;
}

.red-text {
  color: red;
}

#main {
  color: orange;
} */

.article {
  /* колір фону */
  background-color: dodgerblue;
}

.article-heading {
  /* 
  вирівнювання тексту
    left | right | center | justify
  */
  text-align : center;
  /* 
    керування капіталізацією тексту
  none | capitalize | uppercase | lowercase 
  */
  text-transform: capitalize;
}

.article-text {
  text-align : justify;
  /* висота лінії тексту */
  line-height: 10;
  font-size: 20px;
}